/* body {
  font-family: "Rubik", sans-serif;
} */
/* GENERAL COMPONENTS */
/* ******************** */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  /* margin: 0 auto; */
  display: grid;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 2.2rem;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c5711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 600px;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.3s;
}
.btn--full:hover,
.btn--full:active {
  background-color: #c5711f;
  color: #fff;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}
/* HEADER */
/* ******************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* to make header look sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
/* NAVIGATION  */
/* ******************** */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c5711f;
}
/* HERO SECTION*/
/* ******************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 1300px;
  padding: 0 3.2rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 9.2rem 0;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

/* trick to add border */

.hero-img {
  width: 100%;
  margin-left: 200px;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50px;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}

.delievered-text {
  font-size: 1.8rem;
  font-weight: 600px;
}
.delievered-text {
  color: #c5711f;
  font-weight: 700px;
}

/* Featured in section*/
/* ******************** */
.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-between;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* How it works section*/
/* ******************** */
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Step-img-box::before .Step-img-box::after {
  content: "";
  display: block;
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1rem; */
}
.step-description {
  font-size: 2rem;
  line-height: 1.8rem;
}
.step-img {
  width: 50%;
}
.stem-img-box::after {
  width: 50%;
  padding-bottom: 45% background-color #fff;
  z-index: -21;
}

/* Meals Section */
.section-meals {
  padding: 9.6rem 0;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.12);
  border-radius: 12px;
  overflow: hidden;
  width: 336px;
  height: 500.16px;
  padding: 0;
}

.meal-content {
  padding: 32px 48px 48px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82b;
}
.tag--paleo {
  background-color: #ffd43b;
}
/* Grid styles for layout */
.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; /* Adjust the gap between grid items */
}

/* Image styling */
.meal-img {
  width: 336px;

  height: 224.16px;
}

/* Meal title styling */
.meal-title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem; /* Adjust margin bottom as needed */
}

/* Meal attributes list */
/* .meal-attributes {
  list-style: none;
  padding: 0;
  margin: 0;
} */
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Individual meal attribute item */
.meal-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem; /* Adjust gap between icon and text */
  margin-bottom: 1rem; /* Adjust margin bottom for spacing */
}

/* Icon styling */
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22; /* Adjust icon color as needed */
}
/* Flexbox row for meals and diets */
.row {
  display: flex;
  gap: 2rem;
}

.list {
  padding: 1rem;
  flex: 1;
}

strong {
  font-weight: 500;
}
